<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yesterday.yesterday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 진동 허용-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 잠금 화면 깨우기 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 부팅시 원하는 서비스 실행 시키기 위한 권한 (사용 X) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".UI.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- HomeActivity -->
        <activity
            android:name=".UI.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 로그인 , 회원 가입 -->
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".UI.JoinActivity" />
        <!-- 메뉴 추가 , 수정 & 오늘,어제 먹은 메뉴 보여주는 Activity -->
        <!-- 달력 누르면 그 날 먹은 메뉴 보여주는 Activity -->
        <!-- 목표 & 다짐을 추가하기 위해 넘어가는 Activity -->
        <activity android:name=".UI.AddGoalActivity" />

        <!-- 브로드캐스트 리시버 진행 상황 알림 -->
        <receiver
            android:name=".PushAlarm.AlarmProgressReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 브로드캐스트 리시버 추가 안했으면 추가 요청 알림 -->
        <receiver
            android:name=".PushAlarm.AlarmIsRegisterReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 브로드캐스트 리시버 추가 시 90% 초과 했으면 알림 -->
        <receiver android:name=".PushAlarm.AlarmOverRegisterReceiver"
            android:enabled="true">
        </receiver>
    </application>

</manifest>